<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>price</key>
		<integer>1000000</integer>
		<key>require_reputation</key>
		<integer>95</integer>
		<key>image</key>
		<string>a1.png</string>
		<key>name</key>
		<string>diaozhatian</string>
	</dict>
	<key>1</key>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>price</key>
		<string>1000000</string>
		<key>require_reputation</key>
		<integer>95</integer>
		<key>image</key>
		<real>0</real>
		<key>name</key>
		<string>diaozhatian</string>
	</dict>
	<key>2</key>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>price</key>
		<integer>1000000</integer>
		<key>require_reputation</key>
		<integer>95</integer>
		<key>image</key>
		<string>a1.png</string>
		<key>name</key>
		<string>diaozhatian</string>
	</dict>
	<key>3</key>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>price</key>
		<integer>1000000</integer>
		<key>require_reputation</key>
		<integer>95</integer>
		<key>image</key>
		<string>a1.png</string>
		<key>name</key>
		<string>diaozhatian</string>
	</dict>
	<key>4</key>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>price</key>
		<integer>1000000</integer>
		<key>require_reputation</key>
		<integer>95</integer>
		<key>image</key>
		<string>a1.png</string>
		<key>name</key>
		<string>diaozhatian</string>
	</dict>
</dict>
</plist>
