<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>曼波鱼</key>
	<dict>
		<key>event</key>
		<dict>
			<key>wtf</key>
			<real>0.5</real>
			<key>grt</key>
			<integer>2</integer>
		</dict>
		<key>price</key>
		<integer>500</integer>
		<key>helth</key>
		<dict>
			<key>upper</key>
			<string>-1</string>
		</dict>
		<key>reputation</key>
		<dict>
			<key>upper</key>
			<string>2</string>
		</dict>
	</dict>
	<key>曼波鱼 - 2</key>
	<dict>
		<key>event</key>
		<dict>
			<key>wtf</key>
			<real>0.5</real>
			<key>grt</key>
			<integer>2</integer>
		</dict>
		<key>price</key>
		<integer>500</integer>
		<key>helth</key>
		<dict>
			<key>upper</key>
			<string>-1</string>
		</dict>
		<key>reputation</key>
		<dict>
			<key>upper</key>
			<string>2</string>
		</dict>
	</dict>
	<key>曼波鱼 - 3</key>
	<dict>
		<key>event</key>
		<dict>
			<key>wtf</key>
			<real>0.5</real>
			<key>grt</key>
			<integer>2</integer>
		</dict>
		<key>price</key>
		<integer>500</integer>
		<key>helth</key>
		<dict>
			<key>upper</key>
			<string>-1</string>
		</dict>
		<key>reputation</key>
		<dict>
			<key>upper</key>
			<string>2</string>
		</dict>
	</dict>
	<key>曼波鱼 - 4</key>
	<dict>
		<key>event</key>
		<dict>
			<key>wtf</key>
			<real>0.5</real>
			<key>grt</key>
			<integer>2</integer>
		</dict>
		<key>price</key>
		<integer>500</integer>
		<key>helth</key>
		<dict>
			<key>upper</key>
			<string>-1</string>
		</dict>
		<key>reputation</key>
		<dict>
			<key>upper</key>
			<string>2</string>
		</dict>
	</dict>
	<key>曼波鱼 - 5</key>
	<dict>
		<key>event</key>
		<dict>
			<key>wtf</key>
			<real>0.5</real>
			<key>grt</key>
			<integer>2</integer>
		</dict>
		<key>price</key>
		<integer>500</integer>
		<key>helth</key>
		<dict>
			<key>upper</key>
			<string>-1</string>
		</dict>
		<key>reputation</key>
		<dict>
			<key>upper</key>
			<string>2</string>
		</dict>
	</dict>
	<key>曼波鱼 - 6</key>
	<dict>
		<key>event</key>
		<dict>
			<key>wtf</key>
			<real>0.5</real>
			<key>grt</key>
			<integer>2</integer>
		</dict>
		<key>price</key>
		<integer>500</integer>
		<key>helth</key>
		<dict>
			<key>upper</key>
			<string>-1</string>
		</dict>
		<key>reputation</key>
		<dict>
			<key>upper</key>
			<string>2</string>
		</dict>
	</dict>
</dict>
</plist>
