<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>曼波鱼</key>
	<dict>
		<key>image_highlight</key>
		<string>b1.png</string>
		<key>image_disable</key>
		<string>b2.png</string>
		<key>image_normal</key>
		<string>b3.png</string>
		<key>event</key>
		<dict>
			<key>wtf</key>
			<real>0.5</real>
			<key>grt</key>
			<integer>2</integer>
		</dict>
		<key>price</key>
		<integer>50</integer>
		<key>helth</key>
		<dict>
			<key>upper</key>
			<string>-1</string>
		</dict>
		<key>reputation</key>
		<dict>
			<key>upper</key>
			<string>2</string>
		</dict>
	</dict>
	<key>a</key>
	<dict>
		<key>image_highlight</key>
		<string>b1.png</string>
		<key>image_disable</key>
		<string>b2.png</string>
		<key>image_normal</key>
		<string>b3.png</string>
		<key>event</key>
		<dict>
			<key>wtf</key>
			<real>0.5</real>
			<key>grt</key>
			<integer>2</integer>
		</dict>
		<key>price</key>
		<integer>100</integer>
		<key>helth</key>
		<dict>
			<key>upper</key>
			<string>-1</string>
		</dict>
		<key>reputation</key>
		<dict>
			<key>upper</key>
			<string>2</string>
		</dict>
	</dict>
	<key>b</key>
	<dict>
		<key>image_highlight</key>
		<string>b1.png</string>
		<key>image_disable</key>
		<string>b2.png</string>
		<key>image_normal</key>
		<string>b3.png</string>
		<key>event</key>
		<dict>
			<key>wtf</key>
			<real>0.5</real>
			<key>grt</key>
			<integer>2</integer>
		</dict>
		<key>price</key>
		<integer>200</integer>
		<key>helth</key>
		<dict>
			<key>upper</key>
			<string>-1</string>
		</dict>
		<key>reputation</key>
		<dict>
			<key>upper</key>
			<string>2</string>
		</dict>
	</dict>
	<key>c</key>
	<dict>
		<key>image_highlight</key>
		<string>b1.png</string>
		<key>image_disable</key>
		<string>b2.png</string>
		<key>image_normal</key>
		<string>b3.png</string>
		<key>event</key>
		<dict>
			<key>wtf</key>
			<real>0.5</real>
			<key>grt</key>
			<integer>2</integer>
		</dict>
		<key>price</key>
		<integer>500</integer>
		<key>helth</key>
		<dict>
			<key>upper</key>
			<string>-1</string>
		</dict>
		<key>reputation</key>
		<dict>
			<key>upper</key>
			<string>2</string>
		</dict>
	</dict>
	<key>d</key>
	<dict>
		<key>image_highlight</key>
		<string>b1.png</string>
		<key>image_disable</key>
		<string>b2.png</string>
		<key>image_normal</key>
		<string>b3.png</string>
		<key>event</key>
		<dict>
			<key>wtf</key>
			<real>0.5</real>
			<key>grt</key>
			<integer>2</integer>
		</dict>
		<key>price</key>
		<integer>1000</integer>
		<key>helth</key>
		<dict>
			<key>upper</key>
			<string>-1</string>
		</dict>
		<key>reputation</key>
		<dict>
			<key>upper</key>
			<string>2</string>
		</dict>
	</dict>
	<key>e</key>
	<dict>
		<key>image_highlight</key>
		<string>b1.png</string>
		<key>image_disable</key>
		<string>b2.png</string>
		<key>image_normal</key>
		<string>b3.png</string>
		<key>event</key>
		<dict>
			<key>wtf</key>
			<real>0.5</real>
			<key>grt</key>
			<integer>2</integer>
		</dict>
		<key>price</key>
		<real>2000</real>
		<key>helth</key>
		<dict>
			<key>upper</key>
			<string>-1</string>
		</dict>
		<key>reputation</key>
		<dict>
			<key>upper</key>
			<string>2</string>
		</dict>
	</dict>
	<key>f</key>
	<dict>
		<key>image_highlight</key>
		<string>b1.png</string>
		<key>image_disable</key>
		<string>b2.png</string>
		<key>image_normal</key>
		<string>b3.png</string>
		<key>event</key>
		<dict>
			<key>wtf</key>
			<real>0.5</real>
			<key>grt</key>
			<integer>2</integer>
		</dict>
		<key>price</key>
		<integer>5000</integer>
		<key>helth</key>
		<dict>
			<key>upper</key>
			<string>-1</string>
		</dict>
		<key>reputation</key>
		<dict>
			<key>upper</key>
			<string>2</string>
		</dict>
	</dict>
	<key>g</key>
	<dict>
		<key>image_highlight</key>
		<string>b1.png</string>
		<key>image_disable</key>
		<string>b2.png</string>
		<key>image_normal</key>
		<string>b3.png</string>
		<key>event</key>
		<dict>
			<key>wtf</key>
			<real>0.5</real>
			<key>grt</key>
			<integer>2</integer>
		</dict>
		<key>price</key>
		<integer>10000</integer>
		<key>helth</key>
		<dict>
			<key>upper</key>
			<string>-1</string>
		</dict>
		<key>reputation</key>
		<dict>
			<key>upper</key>
			<string>2</string>
		</dict>
	</dict>
</dict>
</plist>
